{% extends 'base.html.twig' %}

{% block title %}{{ faculdade.nome }}{% endblock %}

{% block body %}
    <a class="btn btn-default text" href="/">voltar</a>
    <hr>
    <div class="row text">
        <div class="box">
            <div class="col-lg-4 col-sm-9">
                <div class="circle-tile">
                    <a href="{{ path('turma_index',{ 'facul': faculdade.id }) }}">
                        <div class="circle-tile-heading dark-blue centroTeamWork">
                        </div>
                    </a>
                    <a href="{{ path('turma_index',{ 'facul': faculdade.id }) }}">
                        <div class="circle-tile-content dark-blue">

                            <div class="circle-tile-number text-faded">
                                Turma
                            </div>
                            <div class="circle-tile-deion text-faded">
                                {{ turma }} Turmas
                                <span id="sparklineA"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-9">
                <div class="circle-tile">
                    <a href="{{ path('professor_index',{ 'facul': faculdade.id }) }}">
                        <div class="circle-tile-heading dark-blue centroProfessor">
                            <i class="fa fa-graduation-cap fa-fw fa-3x"></i>
                        </div>
                    </a>
                    <a href="{{ path('professor_index',{ 'facul': faculdade.id }) }}">
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-number text-faded">
                                Professor
                            </div>
                            <div class="circle-tile-deion text-faded">
                                {{ prof }} Professores
                                <span id="sparklineA"></span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-9">
                <div class="circle-tile">
                    <a href="{{ path('aluno_index',{ 'facul': faculdade.id }) }}">
                        <div class="circle-tile-heading dark-blue centroAluno">

                        </div>
                    </a>
                    <a href="{{ path('aluno_index',{ 'facul': faculdade.id }) }}">
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-number text-faded">
                                Aluno
                            </div>
                            <div class="circle-tile-deion text-faded">
                                {{ aluno }} Alunos
                                <span id="sparklineA"></span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-9">
                <div class="circle-tile">
                    <a href="{{ path('disciplina_index',{ 'facul': faculdade.id }) }}">
                        <div class="circle-tile-heading dark-blue centroNota">
                            <i class="fa fa-graduation-cap fa-fw fa-3x"></i>
                        </div>
                    </a>
                    <a href="{{ path('disciplina_index',{ 'facul': faculdade.id }) }}">
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-number text-faded">
                                Disciplina
                            </div>
                            <div class="circle-tile-deion text-faded">
                                {{ disc }} Disciplinas
                                <span id="sparklineA"></span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-9">
                <div class="circle-tile">
                    <a href="{{ path('avtipo_index',{ 'facul': faculdade.id }) }}">
                        <div class="circle-tile-heading dark-blue centroTipoAv">
                            <i class="fa fa-graduation-cap fa-fw fa-3x"></i>
                        </div>
                    </a>
                    <a href="{{ path('avtipo_index',{ 'facul': faculdade.id }) }}">
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-number text-faded">
                                Tipo de Avaliação
                            </div>
                            <div class="circle-tile-deion text-faded">
                                {{ avtipo }} Tipos de Avaliações
                                <span id="sparklineA"></span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-9">
                <div class="circle-tile">
                    <a href="{{ path('user_index',{'facul':faculdade.id}) }}">
                        <div class="circle-tile-heading dark-blue centroUsuario">
                            <i class="fa fa-graduation-cap fa-fw fa-3x"></i>
                        </div>
                    </a>
                    <a href="{{ path('user_index',{'facul':faculdade.id}) }}">
                        <div class="circle-tile-content dark-blue">
                            <div class="circle-tile-number text-faded">
                                Usuário
                            </div>
                            <div class="circle-tile-deion text-faded">
                                {{ user }} Usuários
                                <span id="sparklineA"></span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}