{% extends 'base.html.twig' %}

{% block title %}AvBase{% endblock %}

{% block body %}
    <div class="container text">
        <a class="btn btn-default" href="{{ path('avbase_index', {'facul': turma.faculdade.id,'tur':turma.id}) }}">Voltar</a>
        <hr>
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Notas?</div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Aluno</th>
                        <th>{{ avbase.idTipo.tipo }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rel in relacoes %}
                        <tr>
                            <th scope="row">{{ rel.idAluno.nome }}</th>
                            {#<td>{{ rel.idTurma.disciplina.nome }}</td>#}
                            {% for av in avaliacao %}
                                {% if rel.idAluno.id == av.idAluno.idAluno.id and av.idAvbase.id == avbase.id %}
                                    <td>{{ av.nota }}</td>
                                    <td>
                                        <a href="{{ path('avaluno_edit',{'facul':turma.faculdade.id,'turma':turma.id,'avbase':avbase.id,'aluno':av.id}) }}" class="btn btn-default">Nota</a>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}