{% extends 'base.html.twig' %}

{% block title %}Aluno{% endblock %}

{% block body %}
    <div class="container text">
        <div class="row">
            <div class="col-md-1">
                <a class="btn btn-default" href="{{ path('faculdade_show', {'id':faculdade.id, 'user': app.user.id}) }}">Voltar</a>
            </div>
            <div class="pull-right">
                {#<div class="search">#}
                    {#<input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />#}
                    {#<button type="submit" class="btn1 btn-primary btn-sm">Pesquisar</button>#}
                {#</div>#}
                <label for="filtrar-tabela"></label>
                <input class="form-control" type ="text" name="filtro" id="filtrar-tabela" placeholder="nome do aluno">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-list"></span>Lista de Alunos
                        {% if is_granted('ROLE_ADM') %}
                            <div class="pull-right">
                                <a href="{{ path('aluno_new', {'facul': faculdade.id}) }}"><img src="{{ asset('web/add.png') }}"
                                                                                      height="20px" width="20px"></a>
                                Adicionar Aluno
                            </div>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <ul class="list-group" id="tabela-alunos">
                            {% for aluno in alunos %}
                                <li class="list-group-item aluno" id="primeiro">
                                    <div class="row">
                                        <div class="col-md-10" data-toggle="collapse"
                                             href="#collapseExample{{ aluno.id }}"
                                             aria-expanded="false" aria-controls="collapseExample{{ aluno.id }}">
                                            <label class="info-nome">{{ aluno.nome }}</label>
                                        </div>
                                        {% if is_granted('ROLE_ADM') %}
                                            <div class="col-md-1 pull-right action-buttons">
                                                <a href="{{ path('aluno_edit', {'id': aluno.id, 'facul': faculdade.id}) }}">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a href="{{ path('aluno_delete', {'id': aluno.id, 'facul': faculdade.id}) }}" class="trash">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="collapse" id="collapseExample{{ aluno.id }}">
                                        <div class="card card-block">
                                            <ul>
                                                <li>Nome: {{ aluno.nome }}</li>
                                                <li>Matricula: {{ aluno.matricula }}</li>
                                                <li>Semestre: {{ aluno.semestre }}</li>
                                                <li>Faculdade: {{ aluno.faculdade.nome }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                <tr>
                                    <td colspan="5">Ainda não existem alunos cadastrados.</td>
                                </tr>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <h6>
                                    Total de Alunos <span class="label label-info">{{ qtd }}</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('web/js.js') }}"></script>
{% endblock %}