{% extends 'base.html.twig' %}

{% block title %}Turma{% endblock %}

{% block body %}
    <div class="container text">
        <a class="btn btn-default" href="{{ path('faculdade_show', {'id':faculdade.id}) }}">Voltar</a>
        <hr>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>Lista de Turmas
                <div class="pull-right">
                    <a href="{{ path('turma_new', {'facul':faculdade.id}) }}"><img src="{{ asset('web/add.png') }}" height="20px" width="20px"></a>     Adicionar Turma</div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for turma in turmas %}
                        <li class="list-group-item">
                            <div class="row">
                                <a href="{{ path('turma_show', {'id': turma.id, 'facul':faculdade.id}) }}">
                                    <div class="col-md-6">
                                        <label>
                                            {{ turma.disciplina.nome }} - {{ turma.professor.nome }}
                                        </label>
                                    </div>
                                </a>
                                <div class="pull-right action-buttons">
                                    <a href="{{ path('turma_edit', {'id': turma.id, 'facul':faculdade.id}) }}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a href="{{ path('turma_delete', {'id': turma.id, 'facul':faculdade.id}) }}" class="trash">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <tr>
                            <td colspan="3">Ainda não existe nenhuma turma cadastrada.</td>
                        </tr>
                    {% endfor %}
                </ul>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            Total de Turmas <span class="label label-info">{{ qtd }}</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}