{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <div class="row">
            <div class="col-md-1">
                <a class="btn btn-default" href="{{ path('turma_show', {'id': turma.id, 'facul':faculdade.id}) }}">Voltar</a>
            </div>
            <div class="pull-right">
                <input class="form-control" type ="text" name="filtro" id="filtrar-tabela" placeholder="nome...">
            </div>
        </div>
        <hr>
        <section class="container">
            <div class="panel-heading">
                <div class="row">
                    <div class="panel panel-default">
                        <table class="table table-responsive">
                            <thead><!-- for atributos de aluno}}-->
                                <tr class="Avaluno">
                                    <th>#</th>
                                    <th>Nome</th>
                                    <!-- for do av_tipo}}-->
                                    {% for av in avp1 %}
                                    <th class="tipoAv">{{ av.idTipo.tipo }}</th>
                                    <th class="pesoav1" style="display:none">{{ av.notaMax }}</th>
                                    {% endfor %}
                                    <th class="info">AVPI</th>
                                    {% for av in avp2 %}
                                        <th class="tipoAv">{{ av.idTipo.tipo }}</th>
                                        <th class="pesoav2" style="display:none">{{ av.notaMax }}</th>
                                    {% endfor %}
                                    <th class="info">AVPII</th>
                                    {% for av in avf %}
                                        <th>{{ av.idTipo.tipo }}</th>
                                    {% endfor %}
                                    <th>Média</th>
                                    <th class="danger">AVF</th>
                                    <th>Média Final</th>
                                    <!-- endfor do av_tipo}}-->
                                </tr>
                            </thead>
                            <!-- for atributos de aluno}}-->
                            <tbody id="tabela-alunos">
                            {% for aluno in turmaluno %}
                                <tr class="aluno" id="primeiro">
                                    <td class="info-matricula">{{ aluno.idAluno.matricula }}</td>
                                    <td class="info-nome">{{ aluno.idAluno.nome }}</td>
                                    <!-- for notas_aluno}}-->
                                    {% for av in avaluno %}
                                    {% set idAlu =0 %}
                                    {% set idAlu = aluno.id %}
                                    
                                    {% if av.idAluno.idAluno.id == aluno.idAluno.id and av.idAvbase.descricao == "AVPI" %}
                                            <td class="info-av1">{{ av.nota }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td class="mediaIndividual1 info">0</td>
                                    {% for av in avaluno %}
                                        {% if av.idAluno.idAluno.id == aluno.idAluno.id and av.idAvbase.descricao == "AVPII" %}
                                            <td class="info-av2">{{ av.nota }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td class="mediaIndividual2 info">0</td>
                                    <td class="info-mediaAv">0</td>
                                    <!--end for notas aluno}}-->
                                    {% for av in avaluno %}
                                        {% if av.idAluno.idAluno.id == aluno.idAluno.id and av.idAvbase.descricao == "AVF" %}
                                            <td class="info-avf danger">{{ av.nota }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td class="mediafinal">0</td>
                                </tr>
                            {% endfor %}
                            <!-- end for atributos de aluno}}-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/js.js') }}"></script>
    <script src="{{ asset('js/media.js') }}"></script>
{% endblock %}