{% extends('base.html.twig') %}

{% block body %}
<div class="container" id="body">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData) }}
                </div>
            {% endif %}
            <div class="circle-tile-heading2 dark-blue centroLogin"></div>
            <form class="form-horizontal" role="form" method="POST" action="{{ path('security_login_check') }}">
                <div class="boxlogin">
                    <h4 class="textWhite">Sistema de Notas</h4>
                    <input type="text" id="login" name="_username" class="form-control" placeholder="Login"
                           value="{{ last_username }}"/>
                    <br>
                    <input type="password" id="senha" name="_password" class="form-control" placeholder="Senha"/>
                    <br>
                    <div class="wrapper">
                        <span class="group-btn">
                            <button type="submit" class="btn btn-primary btn-md">Entrar</button>
                        </span>
                    </div>
                    <br><br>
                    <div class="wrapper">
                        <span class="group-btn">
                            <a href="{{ path('register') }}" style="color:white;">Cadastrar</a>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <br>
    </div>
    {#<a href="{{ path('faculdade_new') }}">faculdade</a>#}
    {#<a href="{{ path('professor_new', {'facul':1}) }}">professor</a>#}
    {#<a href="{{ path('user_index', {'facul':1}) }}">users</a>#}
</div>
{% endblock %}
